body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}
img {
  max-width: 90%;
  height: auto;
}
.title {
  display: grid;
  place-items: center;
  text-align: center;
}